Chatterbox/Chatterbox.Model/obj/
Chatterbox/packages/
Chatterbox/src/Chatterbox.Model/obj/
Chatterbox/artifacts/
Chatterbox/src/Chatterbox.Web/wwwroot/lib/
Chatterbox/src/Chatterbox.Model/bin/
Chatterbox/src/Chatterbox.Web/project.lock.json
